<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.CarouselTest"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- Added for google maps as per tutorial -->
    <uses-sdk android:minSdkVersion="4" />

    <!-- Google Maps needs access to the Internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

    <!-- Google Maps is in an external library that needs to be imported -->
        <uses-library
            android:name="com.google.android.maps" />


        <activity
            android:name="com.example.android.CarouselTest.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.example.android.CarouselTest.Screen2"
            android:label="@string/title_activity_screen2" >
        </activity>

        <activity
            android:name="com.example.android.CarouselTest.Carousel"
            android:label="@string/title_activity_screen2" >
        </activity>



        <!-- Add this activity if you aren't showing the Google Map on your first Activity -->
    <!-- android:theme="..NoTitleBar" will give the map more space by removing the title bar -->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />



    </application>

</manifest>
